<h1>Beers</h1>
<div class="beers-display"></div>
<% beersFromApi.forEach(beer => { %>
    <div class="each-beer">
<a href=<%- `/beer-detail/${beer.id}` %>>
<div class="beer"><%- include('./patials/beer.ejs', {beer})
    %></div></a></div><% }); %>
    </div>

